<h1>Profile</h1>
<div class= "offset-3 col-md-3">
<table id = "post">
  <tr><td><%= image_tag(@user.image.url)if @user.image&& @user.image.url %></td></tr>
  <tr><td><%= @user.name %></td></tr>
  <tr><td><%= link_to "Edit", edit_user_path(@user.id) ,class:'btn btn-primary'%></td>
  <td><%= link_to "Favorites", favorites_path ,class:'btn btn-primary' %></td></tr>
</table>
</div>
